*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#logo{
    font-family: 'Courier New', Courier, monospace;
}
h6{
    font-size:12px;
    font-weight: 400;
}
#card{
    height: 95vh;
    width: 25vw;
    background-color: #f7f3f3db;
    border: 2px solid black;
}
#upper{
    color: rgb(245, 237, 237);
    background: linear-gradient(to bottom right, rgb(236, 42, 42), rgb(209, 24, 129));
    border: 2px solid black;
    height: 60%;
    border-bottom-left-radius: 40px;
    padding-top: 10px;
    padding-left: 20px;
}
.ele{
    margin-top: 40px;
    color: white;
}
img{
    color: white;
    height: 35vh;
    position: absolute;
    top: 24%;
    right: 40%;
    
}
#b1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
    height: 80px;
    padding-left: 20px;
    padding-right: 100px;
    margin: 20px;
}
#b2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
    height: 80px;
    padding-left: 20px;
    padding-right: 160px;
    margin: 20px;
}
#b1 > #left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 3px solid rgb(183, 28, 28);
    border-radius: 50%;
}
#b2 > #left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 3px solid rgb(183, 28, 28);
    border-radius: 50%;
}
#left>img{
    position: static;
    height: 30px;
}
#right{
    color: rgb(183, 28, 28);
}